@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 100vh;
}

.input-card{
  background: rgb(139,132,249);
  background: linear-gradient(90deg, rgba(139,132,249,1) 0%, rgba(79,70,224,1) 100%);
}